@import 'assets/sass/main.scss';

.dayGrid {
  padding: 1vh 0;
}

.calendarTile {
  width: 2em;
  height: 2em;
}

.calendarTileVegetarian {
  font-weight: bold;
  color: $c-secondary;
}

.calendarTileToday {
  font-weight: bold;
  border-radius: 500%;
  background-color: $c-primary;
}

.calendarTileDiscrete {
  opacity: 0.5,
}

.calendarTileSolarPart {
  transform: translate(0, -0.2em);
}

.calendarTileLunarPart {
  font-size: 0.5em;
  transform: translate(0, 0.5em);
}