main {
  padding: 2vh;
  font-size: calc(1rem + 1vw);
  box-sizing: border-box;
}

.logo {
  height: 90px;
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  display: flex !important;
  flex-direction: column;
  text-align: center;
  padding: 2vh;
  background-color: transparent;
}

footer p {
  font-size: x-small;
  white-space: pre-wrap;
}
