@import 'assets/sass/main.scss';

.messageBar {
  padding: 0.3em;
  background-color: $c-brown;
  color: $c-grey-light;
  white-space: pre-wrap;
}

.messageTitle {
  font-weight: bold;
  text-transform: uppercase;
}

.messageContainer > p {
  display: inline;
}

.messageContainer a {
  color: white;
  text-decoration: underline;
}
