@import 'assets/sass/main.scss';

.notificationBar {
    padding: 2vh;
    background-color: $c-brown;
    color: $c-grey-light;
}

.notificationBar p {
    white-space: pre-wrap;
}

.notificationTitle {
    font-weight: bold;
}
